[Unit]
Description=Passenger running Brimir Email Helpdesk
[Service]
EnvironmentFile=/etc/default/brimir
PIDFile=/var/run/brimir.pid
ExecStart=/usr/bin/passenger start $BRIMIR_PATH -a $BRIMIR_LISTEN_ADDRESS -p $BRIMIR_PORT -e production
Restart=on-abort
[Install]
WantedBy=multi-user.target
