packages:
  yum:
    patch: []
files:
  /root/nginx_real_ip.patch :
    mode: "000644"
    owner: root
    group: root
    content: |
      --- /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf.back	2017-03-02 03:55:21.320574968 +0000
      +++ /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf	2017-03-02 03:55:14.144391644 +0000
      @@ -5,6 +5,8 @@
           
           server {
               listen 80;
      +        real_ip_header X-Forwarded-For;
      +        set_real_ip_from 0.0.0.0/0;
       
           	gzip on;
       	    gzip_comp_level 4;

commands:
  enable_fook:
    command: /usr/bin/patch -d / -p0 < /root/nginx_real_ip.patch; echo
