<p><a href="<%= ticket_url(@reply.ticket) %>" target="_blank"><%= t(:new_reply) %></a></p>

<% if @reply.content_type == 'html' %>
  <%= @reply.content.html_safe %>
<% else %>
  <%= @reply.content.gsub("\n", '<br />').html_safe %>
<% end %>
