<p><a href="<%= ticket_url(@ticket) %>" target="_blank"><%= t(:new_ticket) %></a></p>

<% if @ticket.content_type == 'html' %>
  <%= @ticket.content.html_safe %>
<% else %>
  <%= @ticket.content.gsub("\n", '<br />').html_safe %>
<% end %>
