<p><a href="<%= ticket_url(@ticket) %>" target="_blank"><%= t(:view_new_ticket) %> &raquo;</a></p>

<% if @ticket.content_type == 'html' %>
  <%= sanitize_html(@ticket.content) %>
<% else %>
  <%= sanitize_html(text_to_html(@ticket.content)) %>
<% end %>
