<p><a href="<%= ticket_url(@ticket) %>" target="_blank"><%= t(:view_new_ticket) %> &raquo;</a></p>

<% if @ticket.content_type == 'html' %>
  <%= @ticket.content.html_safe %>
<% else %>
  <%= @ticket.content.gsub("\n", '<br />').html_safe %>
<% end %>
