<div class="row">
  <div class="large-12 columns">

    <h2 class="filter-title">Users</h2>
    <%= link_to 'New User', new_user_path, class: 'button right radius' %>

    <table class="full">
      <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.email, edit_user_path(user) %></td>
            <td><%= (user.agent?) ? 'Agent' : 'Customer' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @users %>
  </div>
</div>
