<div class="ma">
  <% @ticket.private_messages.each do |private_message| %>
    <% unless private_message.message.blank?%>
      <div class="panel">
        <div class="panel callout radius">
          <%= private_message.message %>
        </div>
          <small><%= t(:private_message_at, email: private_message.user.email, at: l(private_message.created_at.in_time_zone(current_user.time_zone), format: :long)) %></small>
      </div>
    <% end %>
  <% end %>
</div>
