<div id="change-priority" class="reveal-modal small" data-reveal>
  <h3><%= t(:change_priority) %></h3>

  <%= form_for ticket, remote: true, method: :patch do |f| %>
    <p>
      <%
        translated = []
        Ticket.priorities.keys.each do |value|
          translated << [t(value), value]
        end
      %>
      <%= f.select :priority, options_for_select(translated, f.object.priority) %>
    </p>
    <%= f.submit t(:change), class: 'button' %>
  <% end %>

  <a class="close-reveal-modal">&#215;</a>
</div>
