<div id="change-status" class="reveal-modal small" data-reveal>
  <h3><%= t(:change_status) %></h3>

  <%= form_for ticket, remote: true, method: :patch do |f| %>
    <p>
      <%
        translated = []
        Ticket.statuses.keys.each do |value|
          translated << [t(value), value]
        end
      %>
      <%= f.select :status, translated %>
    </p>
    <%= f.submit t(:change_status), class: 'button' %>
  <% end %>

  <a class="close-reveal-modal">&#215;</a>
</div>


