<div id="change-status" class="reveal-modal small" data-reveal>
  <h3><%= t(:change_status) %></h3>

  <%= form_for ticket, remote: true, method: :patch do |f| %>
    <p>
      <%= f.select :status, Ticket.statuses.keys %>
    </p>
    <%= f.submit t(:change_status), class: 'button' %>
  <% end %>

  <a class="close-reveal-modal">&#215;</a>
</div>


