<ul id="priorities-<%= ticket.id %>" class="f-dropdown" data-dropdown-content>
  <% Ticket.priorities.keys.each do |value| %>
    <li>
      <%= link_to ticket_path(ticket, ticket: { priority: value }),
          short: true, method: :patch, remote: true do %>
        <span class="priority-<%= value %> fa fa-circle"></span>
        <%= t(value) %>
      <% end %>
    </li>
  <% end %>
</ul>
