<ul id="priorities-<%= ticket.id %>" class="f-dropdown" data-dropdown-content>
  <% Ticket.priorities.keys.each do |value| %>
    <li>
      <%= link_to ticket_path(ticket, ticket: { priority: value }, short: short),
          method: :patch, remote: true do %>
        <span class="cc-priority-<%= value %> fa fa-fw fa-circle-o"></span>
        <%= t(value) %>
      <% end %>
    </li>
  <% end %>
</ul>
