<div class="row">
  <div class="twelve columns">
    <h2>Tickets</h2>
    <!--<dl class="sub-nav">
      <dt>Filter:</dt>
      <dd class="active"><a href="#">All</a></dd>
      <dd><a href="#">Yours</a></dd>
      <dd><a href="#">Assigned</a></dd>
      <dd><a href="#">Closed</a></dd>
      <dd><a href="#">Deleted</a></dd>
    </dl>-->
    <table class="full">
      <thead>
        <tr>
          <th width="50%">Title</th>
          <th>Sender</th>
          <th>Assigned to</th>          
          <th>Reported on</th>
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="label round">New</span>
            <a href="#">Dit is de titel van een ingeschoten e-mail</a>
          </td>
          <td>
            <a href="mailto:#">lodewijk@theperfectwedding.nl</a>
          </td>
          <td>
            <a href="#" data-reveal-id="assign-ticket"><em>Nobody</em></a>
          </td>
          <td>
            9 november
          </td>
        </tr>
        <tr>
          <td>
            <span class="label success round">Yours</span>
            <a href="#">Dit is de titel van een ingeschoten e-mail</a>
          </td>
          <td>
            <a href="mailto:#">lodewijk@theperfectwedding.nl</a>
          </td>
          <td>
            <a href="#" data-reveal-id="reassign-ticket">Sem</a>
          </td>
          <td>
            9 november
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">Dit is de titel van een ingeschoten e-mail</a>
          </td>
          <td>
            <a href="mailto:#">lodewijk@theperfectwedding.nl</a>
          </td>
          <td>
            <a href="#" data-reveal-id="reassign-ticket">Frank</a>
          </td>
          <td>
            9 november
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>