<div class="row">
  <div class="nine columns">
    <div class="panel">
      <h1>Dit is de titel van een ticket</h1>
      <h5 class="subheader">Door <a href="#">lodewijk@theperfectwedding.nl</a> op 12 november</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla fermentum est, id eleifend est congue sed. In interdum molestie tortor, eget condimentum felis eleifend vel. Phasellus mi urna, cursus porta ornare quis, posuere non elit. Nunc dictum metus quis nunc auctor eget scelerisque sem cursus. Cras feugiat viverra congue. Nunc dapibus dui semper est vestibulum vel suscipit risus elementum. Nulla facilisi. Curabitur varius dignissim lectus, porttitor fringilla nunc viverra eget. Donec sed diam id lacus dapibus facilisis. Mauris fermentum est ut massa feugiat rutrum. Praesent congue adipiscing enim sit amet convallis.</p>
    </div>
    
    <ul class="accordion">
      <li class="active">
        <div class="title">
          <h5><span class="label">Sem</span> Dit is de eerste reactie <small>13 november</small></h5>
        </div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </li>
      <li>
        <div class="title">
          <h5><span class="label success">client</span> Dit is de tweede reactie <small>14 november</small></h5>
        </div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </li>
      <li>
        <div class="title">
          <h5><span class="label">Sem</span> Dit is de derde reactie <small>15 november</small></h5>
        </div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </li>
    </ul>
    
    <ul class="button-group radius">
      <li>
        <a href="#" class="button regular radius">Reply all</a>
      </li>
      <li>
        <a href="#" class="button regular radius">New note</a>
      </li>
    </ul>
    
  </div>
  <div class="three columns">
    <ul class="side-nav">
      <li><a href="#" data-reveal-id="assign-ticket">Assign ticket</a></li> 
      <li><a href="#">Close ticket</a></li>
      <li><a href="#">Delete ticket</a></li>
      <li class="divider"></li> 
      <li><a href="#">Reply to ticket</a></li>
      <li><a href="#">New note</a></li>            
    </ul>
  </div>
</div>