/* --- Forms --- */

#new_ticket textarea, .new_reply textarea{
	width: 100%;
	min-height: 300px !important;
}

.edit_user textarea{
	width: 100%;
	min-height: 100px !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
	margin-top: 9px !important;
}

.reveal-modal form{
	margin: 0;
}

input[type="checkbox"]{
	margin-right: 5px;
}

.button.postfix{
	border: 1px solid rgba(0,0,0,.1);
}

.trix-editor{
	min-height: 150px !important;
}

.trix-toolbar .button_groups button {
	padding: 0px;

	&.strike,
	&.link,
	&.code,
	&.heading-1,
	&.quote{
		display: none;
	}
}

@media #{$small-only}{
	.trix-toolbar .button_groups{
		button {
			width: 30px;
		}
		button:before {
			background-size: 20px 20px;
		}
	}
}
