/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */


.full{
  width: 100%;
}

.reveal-modal form{
  margin: 0;
}

.attachments li{
  line-height: 1.2;
}

.attachments img{
  margin-right: 10px;
  border: 1px solid #ddd;
  padding: 2px;
  background: #fff;
  float: left;
}

.attachments strong{
  display: block;
}

.attachments .meta{
  font-size: 13px;
}

.group:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 