@mixin vendor($property, $value...){
    -webkit-#{$property}: $value;
       -moz-#{$property}: $value;
        -ms-#{$property}: $value;
         -o-#{$property}: $value;
            #{$property}: $value;
}

@mixin transition($transition-property: all, $transition-time: 1000ms, $method: ease-out) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin radius(){
	@include vendor("border-radius", $_radius-default);
}

.brimir-plugin-popup{
	position: absolute;
	top: -100%;
	left: 50%;
	width: 600px;
	height: 400px;
	margin-left: -300px;
	margin-top: -200px;
	background: #fff;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	@include transition(all,.5s,ease-out);
	z-index: 2;

	&.show{
		top: 50%;
	}

	[data-brimir-plugin="close"]{
		position: absolute;
		top: -20px;
		right: -20px;
		font-size: 30px;
		background: #fff;
		@include vendor(border-radius,100%);
		width: 40px;
		height: 40px;
		text-align: center;

		&:hover i{
			color: #f00;
		}
	}

}

.brimir-plugin-overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	opacity: 0;
	@include transition(all,.5s,ease-out);
	pointer-events: none;
	z-index: 1;

	&.show{
		opacity: 1;
	}
}

.brimir-plugin-tabs{
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -32px;
	border: 1px solid #f00;
	@include vendor("border-top-left-radius", 3px);
	@include vendor("border-bottom-left-radius", 3px);


	a{
		display: block;
		color: #fff;
		font-size: 20px;
		padding: 0 8px;
		background: #f00;
		border-bottom: 1px solid #f00;
		font-weight: bold;

		&:last-child{
			border-bottom: 0;
		}

		&:hover{
			color: #fff;
		}

	}
}
