//
// FOUNDATION SETTINGS
//

@import "foundation/functions";

$body-font-color: #616b80;

$primary-color: #ffffff;
$secondary-color: #67c2e5;
$alert-color: #e56767;
$success-color: #54cca8;
$warning-color: #ff8000;
$info-color: #67c2e5;

$button-function-factor: -3%;

$row-width: 100%;
$body-font-family: "Source Sans Pro", "Helvetica", Helvetica, Arial, sans-serif;
$font-smoothing: antialiased;

$header-font-weight: 300;

$paragraph-font-size: rem-calc(14);

$tabs-navigation-bg-color: #fff;
$accordion-content-active-bg-color: #f9f9f9;

$table-bg: #fff;
$table-even-row-bg: #fff;

$table-border-style: solid;
$table-border-color: #eaeef0;
$table-row-padding: rem-calc(10 20);

$off-canvas-label-bg: rgba(0,0,0,0);
$off-canvas-label-padding: rem-calc(30 10 0 20);
$off-canvas-link-padding: rem-calc(8 20);
$off-canvas-link-border-bottom: none;

$topbar-title-weight: bold;
$topbar-height: 65px;
$topbar-bg-color: $primary-color;
$topbar-link-bg-hover: darken($primary-color, 5);

$panel-bg: #f9f9f9;
$panel-border-style: solid;
$panel-margin-bottom: rem-calc(0);
$panel-font-color: #777;
$panel-padding: rem-calc(5 20);

$input-font-size: rem-calc(14);
$input-border-color: #ddd;
$input-box-shadow: inset 0 1px 2px rgba(0,0,0,0.05);

$label-font-weight: normal;
$label-padding: rem-calc(4 8);
$label-font-color: #fff;
$label-font-color-alt: $body-font-color;

@import 'foundation';