.full{ width: 100%; }
.block{ display: block; }
.ib{ display: inline-block; }

.heading-one{ font-size: $fontSizeXXL; }
.heading-two{ font-size: $fontSizeXL; }
.heading-three{ font-size: $fontSizeL; }
.heading-four{ font-size: $fontSizeM; }
.heading-five{ font-size: $fontSizeS; }
.heading-six{ font-size: $fontSizeXS; }

.priority-unknown{ color: #ccc; }
.priority-low{ color: #ffd700; }
.priority-medium{ color: #ff8000; }
.priority-high{ color: #da1500; }

td.priority-unknown{ border-left: 3px solid #ccc; color: #626262; }
td.priority-low{ border-left: 3px solid #ffd700; color: #626262; }
td.priority-medium{ border-left: 3px solid #ff8000; color: #626262; }
td.priority-high{ border-left: 3px solid #da1500; color: #626262; }

.no-b{ border: none; };

.ba{ border: 1px solid #eaeef0; }
.bt{ border-top: 1px solid #eaeef0; }
.br{ border-right: 1px solid #eaeef0; }
.bb{ border-bottom: 1px solid #eaeef0; }
.bl{ border-left: 1px solid #eaeef0; }

.no-b{ border: none !important; }
.no-bt{ border-top: none !important; }
.no-br{ border-right: none !important; }
.no-bb{ border-bottom: none !important; }
.no-bl{ border-left: none !important; }

.radius-tl{ border-top-left-radius: 3px; }
.radius-tr{ border-top-right-radius: 3px; }
.radius-br{ border-bottom-right-radius: 3px; }
.radius-bl{ border-bottom-left-radius: 3px; }

.text-secondary{ color: #999 !important; }