body{
	background-color: $body-font-color;
}

.top-bar{
	border-bottom: 1px solid $light;
	height: 65px;
	line-height: 65px;

	.title-area{
		background-color: $body-font-color;
		text-align: center;

		.name {
			height: 65px;
			h1{
				line-height: 65px;
				a{
					font-size: 22px;
				}
			}
		}
	}

	.top-bar-section{
		float: right;

		ul li{
			background: transparent;
			
			a:not(.button){
				color: $body-font-color;
				background: transparent;
				&:after{
					border-color: $body-font-color transparent transparent transparent;
				}
			}
		}
	}
}