/* --- Side menu --- */
aside{
	min-height: calc(100vh - 60px);
	.fa{
		width: 20px;
		text-align: center;
		margin-right: 10px
	}

	ul.off-canvas-list {
		li {
			label{
				font-size: 12px;
				margin-top: 30px;
			}
			a{
				font-size: 14px;
				font-weight: bold;

				&:hover,
				&.active{
					color: #fff;
					background-color: darken($body-font-color, 10);
				}
			}

			ul{
				li{
					a{
						padding-left: 50px;
						&:hover,
						&.active{
							color: #fff;
							background-color: darken($body-font-color, 5);
						}
					}
				}
			}
		}
	}

}

.off-canvas-list .f-dropdown a{
	color: #555;
}

.off-canvas-list .f-dropdown a:hover{
	background-color: #eee;
}

aside .hover-icon-a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
}

aside .hover-icon-a > .hover-icon-i {
	position: absolute;
	top: 10px;
	right: 0;
	display: none;
}

aside li:hover a > .hover-icon-i {
	display: block
}

aside .f-dropdown {
	width: 65px;
}

ul.off-canvas-list li:hover > a{
	background: #242424;
}