/* --- Side menu --- */
aside{
	min-height: calc(100vh - 60px);
	.fa{
		width: 20px;
		text-align: center;
		margin-right: 10px
	}

	ul.off-canvas-list {
		li {
			label{
				font-size: 12px;
				margin-top: 30px;
				color: darken($body-font-color, 10);
			}
			a{
				font-size: 14px;
				font-weight: bold;

				&:hover,
				&.active{
					color: #fff;
					background-color: darken($body-font-color, 10);
				}
				.bubble{
					color: $body-font-color;
					background-color: #fff;
					font-weight: normal;
					padding-top: 2px;
					padding-bottom: 2px;
				}

				&.hover-icon-a {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					position: relative;

					.hover-icon-i {
						position: absolute;
						top: 10px;
						right: 0;
						display: none;
					}
				}

				&:hover{
					.hover-icon-i {
						display: block
					}
				}
			}
			ul{
				li{
					a{
						padding-left: 50px;
						&:hover,
						&.active{
							color: #fff;
							background-color: darken($body-font-color, 5);
						}
					}
				}

				&.f-dropdown {
					width: 100px;
					li{
						padding: 0.625rem;
						text-align: center;

						a{
							padding: 0;
							color: $body-font-color;

							&:hover{
								background-color: #eee;
							}
							i{
								width: auto;
							}
						}
					}
				}
			}
		}
	}
}