<div class="panel">
  <div class="row collapse">
    <div class="medium-6 columns">
      <h4 class="no-m pts pbs"><%= t(:edit_rule) %></h4>
    </div>
    <div class="medium-6 columns">
      <%= link_to t(:delete_rule), rule_path(@rule), 
          method: :delete, 
          data: { confirm: t(:are_you_sure) },
          class: 'no-m radius right tiny button' %>
    </div>
  </div>
</div>
<%= render 'form' %>
<div class="row">
  <div class="large-6 columns">
    <em>
    </em>
  </div>
</div>
